.message {
    display: flex;
    flex-direction: row;
}
.ava {
    max-height: 50px;
    border-radius: 50%;
    align-self: flex-end;
}
.item {
    background-color: #082103;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
}
.userMessage {
    line-height: 15px;
    padding-bottom: 10px;

    color: #9A93BE;
}
.textMessage {
    color: #D5E9D7;
}
.timeMessage {
    margin-left: 20px;
    color: #3e6038;
}